/* Nollaa oletusarvoiset selaimen tyylit */
body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Yleiset tyylit */
body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Määrittää fontin koko sivustolle */
  line-height: 1.6; /* Määrittää rivivälin */
  color: #000000;
  font-size: 1em;
  display: center;
  align-items: center;
  width: 100%;
}
.container {
  display: grid;
  place-items: top; /* Keskitä sekä vaaka- että pystysuunnassa */
  margin-top:10px; 
}

/* Yläotsikon tyylit */
header {
  background-color: forestgreen; /* Taustaväri */
  color: white; /* Tekstin väri */
  padding: 20px 0; /* Ylä- ja alareunaan 10 pikselin tyhjä tila, vaakasuunnassa ei tyhjää tilaa */
  text-align: center; /* Tekstin keskittäminen vaakasuunnassa */
  align-items: center;
  height: 75px;
  width: 100%;
}

h1 {
  font-size: 2em; /* Yläotsikon fonttikoko */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
/* päävalikko */
nav a {
  background-color: forestgreen;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 15px solid forestgreen;
}
nav a:hover {
  color: #000000;
  background-color: rgb(29, 116, 21);
}
#valittu {
  color: rgb(7, 7, 7);
  background-color: rgb(29, 116, 21);
}

/* Pääsisällön tyylit */

/* Alatunnisteen tyylit */
.footer {
  background-color: forestgreen; /* Taustaväri */
  color: #000000; /* Tekstin väri */
  padding: 20px; /* Sisäväli */
  width: 100%;
  max-width: 100%;
  height: 70px;
  font-size: 20px;
  bottom: 0;
  margin-top: 75px; /* Lisää marginaali footerin ja kuvien väliin */
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Kaksi saraketta yhtä suurina */
  align-items: center; /* Keskitä sisältö pystysuunnassa */

}

.footer-content .copyright-bar {
  text-align: center; /* Aseta tekstit oikealle */
}

/* Responsiivisen suunnittelun media-kyselyt */
@media (max-width: 768px) {
  nav a {
    font-size: 11px; /* Pienennä fonttikokoa */
    /* Pienennä sisävälit */
  }
  
  .content {
    font-size: 12px;
  }
  .logo-container {
    display: none;
  }

  .image-row img {
    max-width: 35%;
    height: auto;
    margin: 10px
  }

  .footer-content {
    font-size: 12px;
  }
  
  .image-row .big-button {
    width: 130px;
    height: 65px;
    font-size: 10px;
  }
  
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.big-button {
  color: forestgreen;
  width: 300px;
  height: 100px;
  font-size: 20px;
}
.logo {
    float: left; /* Siirrä logo vasemmalle */
    width: 100px;
    height: auto;
}
.logobody {
    width: 200px;
    height: auto;
    padding: 20px;
} 
.image-row {
  display:flex;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: 25px;
  align-items: center;
}
.image-row img {
  margin: 0 30px; /* Lisää hieman väliä kuvien välille */  
}
